/* Reset START */
/* 1. Use a more-intuitive box-sizing model */
*, *::before, *::after {
    box-sizing: border-box;
  }
  
  /* 2. Remove default margin */
  * {
    margin: 0;
  }
  
  body {
    /* 3. Add accessible line-height */
    line-height: 1.5;
    /* 4. Improve text rendering */
    -webkit-font-smoothing: antialiased;
  }
  
  /* 5. Improve media defaults */
  img, picture, video, canvas, svg {
    display: block;
    max-width: 100%;
  }
  
  /* 6. Inherit fonts for form controls */
  input, button, textarea, select {
    font: inherit;
  }
  
  /* 7. Avoid text overflows */
  p, h1, h2, h3, h4, h5, h6 {
    overflow-wrap: break-word;
  }
  
  /* 8. Improve line wrapping */
  p {
    text-wrap: pretty;
  }
  h1, h2, h3, h4, h5, h6 {
    text-wrap: balance;
  }
  
  /*
    9. Create a root stacking context
  */
  #root, #__next {
    isolation: isolate;
  }
/* Reset END */

/* Colors */
:root {
    --white: #FFFFFF;
    --background: #000000;
    --surface: #171717;
    --primary: #D0FF00;
    --warning: #FF0000;
}

html {
  scroll-behavior: smooth;
}

body {
    display: flex;
    height: 100vh;
    align-items: center;
    justify-content: center;
    background-color: var(--background);
    color: var(--white);
    font-family: "IBM Plex Sans", sans-serif;
}

main {
    display: flex;
    flex-direction: row;
    gap: 24px;
}

.section {
    display: flex;
    flex-direction: column;
    height: 800px;
    width: 492px;
    padding: 24px;
    background-color: var(--surface);
    border-radius: 16px;
}

h1 {
  margin-bottom: 32px;
}

.output-section {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

#splitBillForm {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

input[type=text] {
    width: 100%;
    height: 48px;
    padding: 0 12px;
    margin-top: 8px;
    margin-bottom: 24px;
    border: var(--white) 1px solid;
    border-radius: 8px;
    background-color: var(--background);
    color: var(--white);
}

input:-webkit-autofill,
input:-webkit-autofill:hover, 
input:-webkit-autofill:focus, 
input:-webkit-autofill:active {
    -webkit-box-shadow: 0 0 0 30px var(--background) inset !important;
    -webkit-text-fill-color: var(--white) !important;
    caret-color: var(--white);
}

input[type=submit] {
  width: 100%;
  height: 64px;
  font-size: 18px;
  font-weight: 600;
  background-color: var(--primary);
  color: var(--background);
  border-radius: 12px;
  border: none;
  box-shadow: 0px -2px 4px 1px #00000077 inset;
  transition: 200ms ease-out;
}

button {
  width: 100%;
  height: 64px;
  font-size: 18px;
  font-weight: 600;
  background-color: var(--white);
  color: var(--background);
  border-radius: 12px;
  border: none;
  box-shadow: 0px -2px 4px 1px #00000077 inset;
  transition: 200ms ease-out;
}

input[type=submit]:hover, button:hover {
    cursor: pointer;
    translate: 0 -2px;
}

input[type=submit]:active, button:active {
    box-shadow: 0px 2px 4px 2px #00000077 inset;
    translate: 0 2px;
}

input[type=radio] {
  display: none;
}

.radio-num {
  background-color: var(--background);
  border-radius: 12px;
  border: var(--white) 1px solid;
  font-size: 32px;
  text-align: center;
  width: 100%;
  padding: 40px 0;
}

.radio-text {
  background-color: var(--background);
  border-radius: 12px;
  border: var(--white) 1px solid;
  font-size: 18px;
  font-weight: 600;
  text-align: center;
  width: 100%;
  padding: 20px 0;
}

.radio-num:hover, .radio-text:hover {
  border: var(--primary) 1px solid;
}

input[type=radio]:checked + .radio-num, input[type=radio]:checked + .radio-text {
  background-color: var(--primary);
  color: var(--background);
  border: none;
}

.radio-num, .radio-text {
  cursor: pointer;
}

.output-section {
  gap: 16px;
}

.output-row {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.output-num {
  font-size: 32px;
}

#totalOutput {
  font-size: 40px;
}

#splitTotalOutput {
  font-size: 40px;
  font-weight: 800;
}

hr {
  margin: 24px 0;
}

#customPercent, #customPercentLabel {
  display: none;
}

@media only screen and (max-width: 768px) {
  body {
    align-items: start;
  }
  
  main {
    flex-direction: column;
    padding: 24px 0;
  }

  .section {
    width: 90vw;
    height: fit-content;
  }

  .output-section {
    justify-content: start;
  }

  .radio-num {
    font-size: 24px;
  }

  .output-num, #totalOutput, #splitTotalOutput {
    font-size: 24px;
  }
}